*.suo
*.user
*.userosscache
*.sln.docstates


*.userprefs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]lls/*
![Dd]lls/Publish

/setup/

# Visual Studio 2015 cache/options directory
.vs/
/ft/FT.Main/Themes/Common/testlogo.png
/setup
/setup
/*.7z
/ft/FT.Mainx/res.7z
/ftresources.dpk
/ft/FT.Mainx/res/.idea
/.idea
/*.7z