<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logDirectory" value="${basedir}/log"/>
  <targets async="true">
    <target name="Default" xsi:type="File" fileName="${logDirectory}/${shortdate}.log"
            archiveFileName="${logDirectory}/${shortdate}/{#####}log.log"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}"
            maxArchiveFiles="5" archiveNumbering="Sequence" keepFileOpen="false" concurrentWrites="true"
            archiveAboveSize="5120000" Encoding="utf-8"/>
    <target name="Error" xsi:type="File" fileName="${logDirectory}/${shortdate}-error.log"
            archiveFileName="${logDirectory}/${shortdate}/{#####}log.log"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}"
            maxArchiveFiles="5" archiveNumbering="Sequence" keepFileOpen="false" concurrentWrites="true"
            archiveAboveSize="5120000" Encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Default"/>
    <logger name="*" minlevel="Error" writeTo="Error"/>
  </rules>
</nlog>